@if (loading()) {
<p>Il server si sta avviando, può richiedere fino a un minuto...</p>
} @else {
<h1>Lista Prodotti</h1>
<div class="product-grid">
  @for (p of products(); track p.id) {
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ p.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ p.price | currency:'EUR'}}</p>
      <p>{{ p.description}}</p>
    </mat-card-content>
    <mat-card-actions>
      <a matButton="filled" [routerLink]="['/products', p.id]">Dettagli</a>
    </mat-card-actions>
  </mat-card>
  }
</div>
}